@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

#preloader{
    height: 100vh;
    width: 100%;
    background: #000 url(../VIDEO/loader.gif) no-repeat center center;
    position: fixed;
    z-index: 999999;
    }

body{
    background: #121212;
    width: 100%;
}

*::-webkit-scrollbar {
    display: none;
}

header {
    position: relative;
}

header nav {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

nav ul {
    display: flex;
    color: white;
    list-style: none;
}

.logo {
    display: flex;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-size: 20px;
}

.logo img {
    height: 40px;
    margin-top: -10px;
}

nav ul li a:hover {
    font-weight: bolder;
}

#Search-input {
    height: 25px;
    width: 236px;
    border-radius: 20px;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255, .3);
    color: white;
    font-size: 18px;
    padding: 3px 10px;
}

#Search-input::placeholder {
    color: #fff;
}

.search-user {
    align-items: center;
    display: flex;
}

.search-user img {
    height: 35px;
    border-radius: 40px;
}


#background img {
    width: 100vw;
    height: 45rem;

}






main {
    background: linear-gradient(#000, #121212);
    position: relative;
}

.imdb-star {
    background-color: yellow;
    color: black;
    margin: 0 5px;
    border-radius: 2px;
}

.checked {
    color: orange;
}

.content {
    color: white;
    padding-left: 205px;
    z-index: 99;
    margin-bottom: 30px;
}

.content h1 {
    font-size: 50px;
    margin: 0 0 10px 0;
    font-family: 'Anton', sans-serif;
}

.content .details {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.content h5 {
    font-size: 25px;
    margin: 0 8px 12px 0;
    color: rgb(255, 255, 255, .8);
}

.content h3 {
    font-size: 23px;
    display: flex;
    align-items: center;
    margin: 0 8px 0 0;
}

.btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.btns a {
    padding: 8px 16px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #00bdff, #0079ff);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 25px 0 15px;
    animation: button 1s linear infinite;
}

#download {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#download i {
    font-size: 45px;
}

.fa-play {
    margin: 0 0 0 12px;
}

.fa-pause {
    margin: 0 0 0 12px;
}

@keyframes button {
    0% {
        background: linear-gradient(0deg, #00bdff, #0079ff);
    }

    12% {
        background: linear-gradient(45deg, #00bdff, #0079ff);
    }

    24% {
        background: linear-gradient(95deg, #00bdff, #0079ff);
    }

    48% {
        background: linear-gradient(145deg, #00bdff, #0079ff);
    }

    60% {
        background: linear-gradient(195deg, #00bdff, #0079ff);
    }

    72% {
        background: linear-gradient(245deg, #00bdff, #0079ff);
    }

    100% {
        background: linear-gradient(295deg, #00bdff, #0079ff);
    }

}


.head {
    display: flex;
    padding-left: 14vw;
}

.head img {
    height: 18rem;
    border-radius: 20px;
    position: absolute;
    top: -3rem;
}

.container {
    color: #fff;
    padding: 0 40px;
}

.container h1 {
    font-size: 50px;
    margin: 20px 0;
}

.container p {
    font-size: 20px;
    padding: 0 20px;
}

.youtube h1 {
    font-size: 50px;
    margin: 30px 0 15px 0;
}

.trailer {
    height: 70vh;
    display: flex;
justify-content: center;
align-items: center;

}

main .container section {
    width: 100%;
    height: auto;
    margin: 30px 0;
    color: #fff;
    box-sizing: border-box;
    position: relative;
}

main .container section .cards {
    position: relative;
    width: 100%;
    height: 270px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

main .container section .cards::-webkit-scrollbar {
    display: none;
}

main .container section .cards .card-item {
    position: relative;
    min-width: 165px;
    height: 233px;
    margin-right: 10px;
    background: #000;
    transition: .3s linear;
  }

.poster {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}

main .container section .cards .card-item:hover {
    min-width: 240px;
    overflow: hidden;
}

.rest-card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    z-index: 999;
    opacity: 0;
    transition: 1s linear;
}

.rest-card img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
}

.rest-card::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, black);
    z-index: -1;
    left: 0;
    bottom: 0;
}

.cont2 {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    color: #fff;
    padding: 0 20px;
}

.cont2 h4 {
    font-size: 20px;
}

.sub {
    display: flex;
    align-items: center;
}

.sub p {
    font-size: 11px;
    font-weight: 400;
    color: rgb(255, 255, 255, .7);
    padding: 0 5px;
}

.sub p h3 {
    font-size: 11px;
    color: #fff;
    display: flex;
    align-items: center;
}

.card-item:hover .rest-card {
    opacity: 1;
}

.fa-chevron-left,
.fa-chevron-right {
    position: absolute;
    top: 50%;
    left: 3%;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255, .3);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    transition: .3s linear;
    z-index: 99999;
    opacity: 0;
    font-size: 60px;
}

.fa-chevron-right {
    left: unset;
    right: 3%;
}

#cast:hover .oneLeft {
    opacity: 1;
}

#cast:hover .oneRight {
    opacity: 1;
}

#similar:hover .twoLeft {
    opacity: 1;
}

#similar:hover .twoRight {
    opacity: 1;
}
#recomended:hover .threeLeft {
    opacity: 1;
}

#recomended:hover .threeRight {
    opacity: 1;
}



.card {
    width: 12rem;
    background-color: black;
    height: 15rem;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
}

.card-img-top {
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0 0;
}

.card-body {
    height: 25%;
}

.card-body h4 {
    font-size: 20px;
    margin-left: 12px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

.sub {
    display: flex;
}

.sub p {
    font-size: 11px;
    margin-right: 8px;
    color: white;
}

.sub h3 {
    font-size: 11px;
    color: white;
}


#cast .oneLeft {
    font-size: 40px; 
    display: grid;
}

#cast .oneRight {
    font-size: 40px; 
    display: grid;
}

#similar .twoLeft {
    font-size: 40px; 
    display: grid;
}

#similar .twoRight {
    font-size: 40px; 
    display: grid;
}

#recomended .threeLeft {
    font-size: 40px; 
    display: grid;
}

#recomended .threeRight {
    font-size: 40px; 
    display: grid;
}















footer {
    width: 100vw;
    position: relative;
    overflow: hidden;
}

footer::before {
    height: 160vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 193, 252, 0) -11%, rgba(0, 142, 248, 0.96) 100%);
    opacity: .2;
    background-repeat: no-repeat;
    content: '';
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}


.foot {
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 0px 50px;
    box-sizing: border-box;
    z-index: 999;
    position: relative;
}

.foot_start {
    display: flex;
    align-items: center;
}

.foot_start p {
    width: 145px;
}

.foot1 {
    display: flex;
    flex-direction: column;
    width: 41vw;
}

.foot1 img {
    width: 250px;
}

.foot2 {
    display: flex;
    flex-direction: column;
    width: 13vw;
}

.foot3 {
    display: flex;
    flex-direction: column;
    width: 13vw;
}

.foot4 {
    display: flex;
    flex-direction: column;
    width: 31vw;
}

footer p {
    font-size: 15px;
    margin: 7px 0;
    color: white;
}

footer h3 {
    font-size: 25px;
    color: white;
    margin: 20px 0;
}

.foot a {
    color: white;
    font-size: 20px;
    margin: 10px 0;
}

.fa-apple {
    font-size: 36px;
    margin: 0 12px;
}

.foot_last {
    padding: 40px 40px;
}

.foot_last hr {
    color: white;
    opacity: .8;
}

.end {
    height: 15vh;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
}

.end p {
    font-size: 30px;
}

.footUpper {
    display: flex;
}

.footLower {
    display: flex;
}




.socialbtns .fa {
    width: 40px;
    height: 28px;
    color: #000;
    background-color: #FFF;
    border: 1px solid #000;
    padding-top: 12px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -o-border-radius: 22px;
  }