@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

#preloader{
    height: 100vh;
    width: 100%;
    background: #000 url(../VIDEO/loader.gif) no-repeat center center;
    position: fixed;
    z-index: 999999;
    }

*::-webkit-scrollbar {
    display: none;
}

body {
    height: auto;
    width: 100%;
    background-color: #121212;
    position: relative;
    background-color: black;
}

header {
    font-family: 'Fira Sans', sans-serif;
    background-color: black;
    width: 100%;
    /* height: 26vh; */
    position: relative;
    padding: 18px 0px;
}


nav {
    width: 100%;
    height: 40%;
    border-radius: 40px 40px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
    position: inherit;
    z-index: 999;
    margin-top: 23px;
}

nav ul {
    display: flex;
    color: white;
    list-style: none;
}

.logo {
    display: flex;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-size: 20px;
}

.logo img {
    /* padding: 0 40px 0 0; */
    height: 40px;
    margin-top: -10px;
}

nav ul li a:hover {
    font-weight: bolder;
}

#Search_input {
    height: 25px;
    width: 236px;
    border-radius: 20px;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255, .3);
    color: white;
    font-size: 18px;
    padding: 3px 10px;
}

#Search_input::placeholder {
    color: #fff;
}

.search-user {
    align-items: center;
    display: flex;
}

.search-user img {
    height: 35px;
    border-radius: 40px;
}

.search-result {
    color: white;
    font-size: 40px;
    margin-left: 130px;
    /* position: absolute;
    bottom: 20px; */
    padding-top: 50px;
}


#main {
    height: auto;
    background: linear-gradient(#000, #121212);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
    min-height: 90vh;
}

.card {
    width: 14rem;
    background-color: black;
    height: 19rem;
    border: 2px solid white;
    border-radius: 15px;
    margin: 1rem;
}

.card-img-top {
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
}

.card-body {
    height: 30%;
}

.card-body h4 {
    font-size: 24px;
    margin-left: 12px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

.sub {
    display: flex;
    margin: 0px 0 0 0px;
    flex-wrap: wrap;
    overflow: hidden;
}

.sub p {
    font-size: 15px;
    color: white;
    width: 100%;
}

.sub h3 {
    font-size: 15px;
    color: white;
}

.card-body a {
    margin-left: 40px;
    height: 25px;
    font-size: 33px;
    padding: 7px;
    color: white;
    background: linear-gradient(90deg, #00bdff, #0079ff);
    text-decoration: none;
    border-radius: 5px;
    animation: button 1s linear infinite;
}



@keyframes button {
    0% {
        background: linear-gradient(0deg, #00bdff, #0079ff);
    }

    12% {
        background: linear-gradient(45deg, #00bdff, #0079ff);
    }

    24% {
        background: linear-gradient(95deg, #00bdff, #0079ff);
    }

    48% {
        background: linear-gradient(145deg, #00bdff, #0079ff);
    }

    60% {
        background: linear-gradient(195deg, #00bdff, #0079ff);
    }

    72% {
        background: linear-gradient(245deg, #00bdff, #0079ff);
    }

    100% {
        background: linear-gradient(295deg, #00bdff, #0079ff);
    }
}

.imdb-star {
    background-color: yellow;
    color: black;
    margin: 0 5px;
    border-radius: 2px;
}

.checked {
    color: orange;
}

.statement {
    color: white;
    position: absolute;
    top: 65vh;
    font-size: 40px;
}



footer {
    /* height: 60vh; */
    width: 100vw;
    position: relative;
    overflow: hidden;
}

footer::before {
    height: 160vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 193, 252, 0) -11%, rgba(0, 142, 248, 0.96) 100%);
    opacity: .2;
    background-repeat: no-repeat;
    content: '';
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}


.foot {
    display: flex;
    align-items: center;
    /* height: 40vh; */
    width: 100vw;
    /* justify-content: space-between; */
    padding: 0px 50px;
    box-sizing: border-box;
    z-index: 999;
    position: relative;
}

.foot_start {
    display: flex;
    align-items: center;
}

.foot_start p {
    width: 145px;
}

.foot1 {
    display: flex;
    flex-direction: column;
    width: 41vw;
    /* height: 33vh; */
}

.foot1 img {
    /* height: 100px; */
    width: 250px;
}

.foot2 {
    display: flex;
    flex-direction: column;
    /* height: 33vh; */
    width: 13vw;
}

.foot3 {
    display: flex;
    flex-direction: column;
    /* height: 33vh; */
    width: 13vw;
}

.foot4 {
    display: flex;
    flex-direction: column;
    /* height: 33vh; */
    width: 31vw;
}

footer p {
    font-size: 15px;
    margin: 7px 0;
    color: white;
}

footer h3 {
    font-size: 25px;
    color: white;
    margin: 20px 0;
}

.foot a {
    color: white;
    font-size: 20px;
    margin: 10px 0;
}

.fa-apple {
    font-size: 36px;
    margin: 0 12px;
}

.foot_last {
    padding: 40px 40px;
}

.foot_last hr {
    color: white;
    opacity: .8;
}

.end {
    height: 15vh;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
}

.end p {
    font-size: 30px;
}

.footUpper {
    display: flex;
}

.footLower {
    display: flex;
}







.socialbtns .fa {
    width: 40px;
    height: 28px;
    color: #000;
    background-color: #FFF;
    border: 1px solid #000;
    padding-top: 12px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -o-border-radius: 22px;
  }